In [88]:
import warnings
import itertools
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.tsa.api as smt
import matplotlib
import scipy.stats as scs

from dateutil.relativedelta import relativedelta
from scipy.optimize import minimize
from itertools import product

warnings.filterwarnings('ignore')
plt.style.use('fivethirtyeight')

matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'k'
matplotlib.rcParams['lines.linewidth'] = 1.0

In [89]:
# df = pd.read_excel('gl_uninstall_20190904.xlsx', index_col=0, parse_dates=True)
df = pd.read_csv('gl_uninstall_20190904.csv', index_col=0, parse_dates=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 612 entries, 2018-01-01 to 2019-09-04
Data columns (total 1 columns):
uninstall    612 non-null int64
dtypes: int64(1)
memory usage: 9.6 KB

In [90]:
data = df['uninstall']

# Global lasso 7 days

In [91]:
lag_range = [7, 17]

In [92]:
lm_data = pd.DataFrame(data)
lm_data.columns = ['y']

In [93]:
for i in range(lag_range[0], lag_range[1]):
    lm_data['lag_{}'.format(i)] = lm_data.y.shift(i)

In [94]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

tscv = TimeSeriesSplit(n_splits=5)

In [95]:
lm_data.index = pd.to_datetime(lm_data.index)

lm_data['weekday'] = lm_data.index.weekday
lm_data['is_weekend'] = lm_data.index.weekday.isin([4, 5])*1
lm_data.tail()

,y,lag_7,lag_8,lag_9,lag_10,lag_11,lag_12,lag_13,lag_14,lag_15,lag_16,weekday,is_weekend
date,,,,,,,,,,,,,
2019-08-31,5955,6694.0,6050.0,6063.0,5571.0,5811.0,5832.0,6212.0,6357.0,6096.0,6262.0,5,1
2019-09-01,6093,6679.0,6694.0,6050.0,6063.0,5571.0,5811.0,5832.0,6212.0,6357.0,6096.0,6,0
2019-09-02,5184,6164.0,6679.0,6694.0,6050.0,6063.0,5571.0,5811.0,5832.0,6212.0,6357.0,0,0
2019-09-03,5139,5756.0,6164.0,6679.0,6694.0,6050.0,6063.0,5571.0,5811.0,5832.0,6212.0,1,0
2019-09-04,5237,5738.0,5756.0,6164.0,6679.0,6694.0,6050.0,6063.0,5571.0,5811.0,5832.0,2,0

In [96]:
X = lm_data.dropna().drop(['y'], axis=1)
y = lm_data.dropna().y

In [97]:
from sklearn.linear_model import LassoCV

lasso = LassoCV(cv=tscv)
lasso.fit(X, y)

# from sklearn.ensemble import VotingRegressor
# from sklearn.linear_model import RidgeCV
# from sklearn.ensemble import GradientBoostingRegressor

# r1 = RidgeCV(cv=tscv)
# r2 = LassoCV(cv=tscv)
# r3 = GradientBoostingRegressor(random_state=1)
# #voting as lasso
# lasso = VotingRegressor(estimators=[('ridge', r1), ('lasso', r2), ('gbr', r3)])
# lasso = vr.fit(X_vr, y_vr)

In [98]:
import pickle

with open('gl_lasso_regression_7.pkl', 'wb') as handle:
    pickle.dump(lasso, handle, pickle.HIGHEST_PROTOCOL)

# Global voting 5 days

In [80]:
vr_data = pd.DataFrame(data)
vr_data.columns = ['y']

In [81]:
for i in range(5, 15):
    vr_data['lag_{}'.format(i)] = vr_data.y.shift(i)

In [82]:
vr_data.index = pd.to_datetime(vr_data.index)

vr_data['weekday'] = vr_data.index.weekday
vr_data['is_weekend'] = vr_data.index.weekday.isin([4, 5])*1
vr_data.tail()

,y,lag_5,lag_6,lag_7,lag_8,lag_9,lag_10,lag_11,lag_12,lag_13,lag_14,weekday,is_weekend
date,,,,,,,,,,,,,
2019-08-31,5955,6164.0,6679.0,6694.0,6050.0,6063.0,5571.0,5811.0,5832.0,6212.0,6357.0,5,1
2019-09-01,6093,5756.0,6164.0,6679.0,6694.0,6050.0,6063.0,5571.0,5811.0,5832.0,6212.0,6,0
2019-09-02,5184,5738.0,5756.0,6164.0,6679.0,6694.0,6050.0,6063.0,5571.0,5811.0,5832.0,0,0
2019-09-03,5139,5553.0,5738.0,5756.0,6164.0,6679.0,6694.0,6050.0,6063.0,5571.0,5811.0,1,0
2019-09-04,5237,5835.0,5553.0,5738.0,5756.0,6164.0,6679.0,6694.0,6050.0,6063.0,5571.0,2,0

In [83]:
X_vr = vr_data.dropna().drop(['y'], axis=1)
y_vr = vr_data.dropna().y

In [84]:
from sklearn.ensemble import VotingRegressor
from sklearn.linear_model import RidgeCV
from sklearn.ensemble import GradientBoostingRegressor

r1 = RidgeCV(cv=tscv)
r2 = LassoCV(cv=tscv)
r3 = GradientBoostingRegressor(random_state=1)

vr = VotingRegressor(estimators=[('ridge', r1), ('lasso', r2), ('gbr', r3)])
vr = vr.fit(X_vr, y_vr)

In [85]:
with open('gl_voting_regression_5.pkl', 'wb') as handle:
    pickle.dump(vr, handle, pickle.HIGHEST_PROTOCOL)

# US voting 7 days

In [19]:
us_df = pd.read_excel('us_uninstall_20190831.xlsx', index_col=0, parse_dates=True)
us_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 639 entries, 2018-01-01 to 2019-08-06
Data columns (total 1 columns):
us    639 non-null int64
dtypes: int64(1)
memory usage: 10.0 KB

In [20]:
us_data = us_df['us']

In [21]:
us_lm = pd.DataFrame(us_data)
us_lm.columns = ['y']

In [22]:
for i in range(7, 17):
    us_lm['lag_{}'.format(i)] = us_lm.y.shift(i)

In [23]:
us_lm.index = pd.to_datetime(us_lm.index)

us_lm['weekday'] = us_lm.index.weekday
us_lm['is_weekend'] = us_lm.index.weekday.isin([4,5])*1
us_lm.tail()

,y,lag_7,lag_8,lag_9,lag_10,lag_11,lag_12,lag_13,lag_14,lag_15,lag_16,is_weekend
date,,,,,,,,,,,,
2019-08-02,288,216.0,232.0,213.0,205.0,235.0,218.0,230.0,207.0,208.0,216.0,1
2019-08-03,293,215.0,216.0,232.0,213.0,205.0,235.0,218.0,230.0,207.0,208.0,1
2019-08-04,264,248.0,215.0,216.0,232.0,213.0,205.0,235.0,218.0,230.0,207.0,0
2019-08-05,247,329.0,248.0,215.0,216.0,232.0,213.0,205.0,235.0,218.0,230.0,0
2019-08-06,318,257.0,329.0,248.0,215.0,216.0,232.0,213.0,205.0,235.0,218.0,0

In [24]:
X_us_7 = us_lm.dropna().drop(['y'], axis=1)
y_us_7 = us_lm.dropna().y

In [25]:
from sklearn.ensemble import VotingRegressor
from sklearn.linear_model import RidgeCV
from sklearn.ensemble import GradientBoostingRegressor

r1 = RidgeCV(cv=tscv)
r2 = LassoCV(cv=tscv)
r3 = GradientBoostingRegressor(random_state=1)

vr_us_7 = VotingRegressor(estimators=[('ridge', r1), ('lasso', r2), ('gbr', r3)])
vr_us_7 = vr_us_7.fit(X_us_7, y_us_7)

In [26]:
with open('us_voting_regression_7.pkl', 'wb') as handle:
    pickle.dump(vr_us_7, handle, pickle.HIGHEST_PROTOCOL)

# US voting 5 days

In [27]:
us_vr = pd.DataFrame(us_data)
us_vr.columns = ['y']

In [28]:
for i in range(5, 15):
    us_vr['lag_{}'.format(i)] = us_vr.y.shift(i)

In [29]:
us_vr.index = pd.to_datetime(us_vr.index)

us_vr['weekday'] = us_vr.index.weekday
us_vr['is_weekend'] = us_vr.weekday.isin([4,5])*1
us_vr.tail()

,y,lag_5,lag_6,lag_7,lag_8,lag_9,lag_10,lag_11,lag_12,lag_13,lag_14,weekday,is_weekend
date,,,,,,,,,,,,,
2019-08-02,288,248.0,215.0,216.0,232.0,213.0,205.0,235.0,218.0,230.0,207.0,4,1
2019-08-03,293,329.0,248.0,215.0,216.0,232.0,213.0,205.0,235.0,218.0,230.0,5,1
2019-08-04,264,257.0,329.0,248.0,215.0,216.0,232.0,213.0,205.0,235.0,218.0,6,0
2019-08-05,247,334.0,257.0,329.0,248.0,215.0,216.0,232.0,213.0,205.0,235.0,0,0
2019-08-06,318,340.0,334.0,257.0,329.0,248.0,215.0,216.0,232.0,213.0,205.0,1,0

In [30]:
X_us_5 = us_lm.dropna().drop(['y'], axis=1)
y_us_5 = us_lm.dropna().y

In [31]:
r1 = RidgeCV(cv=tscv)
r2 = LassoCV(cv=tscv)
r3 = GradientBoostingRegressor(random_state=1)

vr_us_5 = VotingRegressor(estimators=[('ridge', r1), ('lasso', r2), ('gbr', r3)])
vr_us_5 = vr_us_5.fit(X_us_5, y_us_5)

In [32]:
with open('us_voting_regression_5.pkl', 'wb') as handle:
    pickle.dump(vr_us_5, handle, pickle.HIGHEST_PROTOCOL)